.shop-item {
    width: 10rem;
    height: 10rem;
}

.shop-item .title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.shop-item .thumbnail {
    margin-bottom: .5rem;
}

.shop-item .price {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}